body {
    font-family: Arial;
    text-align: center;
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
    margin-top: 100px;
}

input, button {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    background: #ff7eb3;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #ff4f91;
}

